version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: farm_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: farm_management
      MYSQL_USER: farm_user
      MYSQL_PASSWORD: farm_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
